<div class="h-100 p-3 bg-light border rounded-3 my-3 shadow">
  <div class= "">
    <h2><%=  @restaurant.name %></h2>
    <!-- Font Awesome needed -->
    <div class="d-flex m-2">
      <% @restaurant.reviews.sum(:rating).times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <% (5 - @restaurant.reviews.sum(:rating)).times do %>
        <i class="far fa-star"></i>
      <% end %>
    </div>
    <p class= "m-3"><i class="fa-solid fa-location-dot"></i> <%= @restaurant.address %></p>
    <p class= "m-3"><i class="fa-solid fa-phone"></i> <%= @restaurant.phone_number %></p>
    <p class= "m-3"><i class="fa-solid fa-utensils"></i> <%= @restaurant.category.capitalize %></p>
  </div >
  <h3>Reviews  <%= link_to  new_restaurant_review_path(@restaurant), class:  "btn-success btn-sm" do %>
      <i class="fa-solid fa-circle-plus"></i>
    <% end %>
  </h3>
  <div class="h-100 p-1 border rounded-3 my-3 shadow-sm" style="--bs-bg-opacity: .5">
    <% @restaurant.reviews.each do |review| %>
      <div class="h-100 p-3 bg-light border rounded-3 my-3 shadow">
        <div class= "d-flex">
          <div class= "flex-grow-1 border-end">
            <p> <%= review.content %> </p>
          </div>
          <div>
            <%= link_to review_path(review) ,data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
<div style= "width:200px" class="d-flex justify-content-around align-items-center">
  <%= link_to "Home", root_path, class: "btn btn-secondary"   %>
</div>
