<div class="h-100 p-3 bg-light border rounded-3 my-3 shadow">
  <h2>Create new review</h2>
  <%= simple_form_for [@restaurant,@review] do |f| %>
    <%= f.input :content%>
    <div class="star-rating">
      <% 5.times do |i| %>
        <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
      <% end %>
    </div>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
